<head>
    <link rel="stylesheet" href="/static/styles.css">
</head>

<div class="content">
    <div class="image-content">
        <img src="https://dthezntil550i.cloudfront.net/6k/latest/6k1612080634469430000008678/1280_960/ca79342c-1cdd-4c80-a452-425f5930bfb4.png" alt="logo" id="logo-image" />
    </div>
    <div class="text-content">
        <h1 class="text-center text-2xl font-bold" id="About-title">About me</h1>
        <br>
        <p class="text-center text-lg" id="About-text">I am a software engineer with experience in web development. I have worked on various projects using different technologies. I am passionate about learning new things and solving problems. I am always looking for new opportunities to grow and improve my skills.</p>
    </div>
</div>