<head>
    <link rel="stylesheet" href="/static/styles.css">
</head>

<div class="content">
    <div class="text-content free-move" style="top: 50px; left: 100px;">
        <div class="relative inline-block ml-6">
            <span class="text-3xl md:text-6xl font-bold"> 
                Full Stack developer
            </span>
            <span class="absolute -bottom-1 left-0 w-full h-1 bg-gradient-to-r from-red-500 via-orange-400 to-yellow-600 rounded-full"></span>
        </div>
        <p>About me...</p>
    </div>
    <div class="image-content free-move" style="top: 200px; left: 300px;">
        <img src="https://dthezntil550i.cloudfront.net/6k/latest/6k1612080634469430000008678/1280_960/ca79342c-1cdd-4c80-a452-425f5930bfb4.png" alt="logo" id="logo-image" />
    </div>
</div>