/* Index */

body{
    background-color: #ffffff;
}


/* About me */
.content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.text-content {
    width: 50%;
    margin-left: 20rem;
    margin-top: 8rem;
}

.image-content {
    width: 20%;
    margin-right: 30rem;
    margin-top: 7rem;
}

.text-content p {
    margin-top: 20px;
    font-size: 18px;
    margin-left: 15rem;
}